backend/.env
backend/gee-key.json
backend/__pycache__/
backend/env/
backend/.agents/
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.local
ml/.ipynb_checkpoints/
*.pkl
.DS_Store
Thumbs.db